@font-face {
    font-family: 'Mohave';
    src: url('Mohave-Light.eot');
    src: url('Mohave-Light.eot?#iefix') format('embedded-opentype'),
        url('Mohave-Light.woff2') format('woff2'),
        url('Mohave-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

